.navbar {
	width: 100vw;
	background-color: rgb(177, 173, 159);
	color: white;
	padding-left: 11px;
}
.sticky {
	position: sticky;
}
.brand {
	font-weight: bold;
	font-style: oblique;
	padding-right: 105px;
	padding-left: 15px;
	cursor: pointer;
}
.span {
	color: rgb(0, 0, 0);
}
.menu {
	background-color: inherit;
	border: 0;
	cursor: pointer;
}
.menu:hover {
	background-color: inherit;
	border: 0;
}
.navlink {
	color: white;
	font-weight: 300;
}
.navlink:focus {
	box-shadow: inset 0px -3px 0px 0px rgba(107, 95, 100, 0.7);
	outline: none;
	border: 0;
}
.navlink:active {
	box-shadow: inset 0px -3px 0px 0px rgba(168, 158, 162, 0.7);
	outline: none;
	border: 0;
}
.navlink:hover {
	box-shadow: inset 0px -3px 0px 0px rgba(143, 136, 138, 0.7);
	outline: none;
	border: 0;
}
.button {
	background-color: rgb(54, 53, 49);
	color: white;
	border: 0;
	transition: opacity 0.25s ease-out;
}
.button:hover {
	background-color: rgb(184, 181, 172);
	color: white;
	border: 0;
}
.control {
	background-color: rgb(251, 248, 229);
	padding-bottom: 0cm;
	margin-bottom: 0;
	padding-top: 0;
	width: 90px;
}
