.navbar {
	width: 100vw;
	background-color: rgb(177, 173, 159);
	color: white;
	position: sticky;
	padding-left: 5px;
}
.brand {
	font-weight: bold;
	font-style: oblique;
	padding-right: 105px;
	padding-left: 15px;
	cursor: pointer;
}
.span {
	color: rgb(0, 0, 0);
}
.menu {
	background-color: inherit;
	border: 0;
	cursor: pointer;
}
.menu:hover {
	background-color: inherit;
	border: 0;
}
