.container {
	margin: 0 auto;
	background-color: rgb(226, 243, 243);
	max-width: 100vw;
}
.h1 {
	font: 2em Georgia;
}
.menu {
	font: 1em Georgia;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: rgb(226, 243, 243);
	text-transform: uppercase;
	border-bottom: 3px solid rgb(33, 81, 83);
	border-top: 1px solid #ddd;
}
.menu li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding: 5px 15px 4px 15px;
}
.menu li:hover {
	background-color: rgb(46, 115, 117);
	color: white;
}
.menu li a {
	color: rgba(0, 0, 0, 0.63);
	text-decoration: none;
	line-height: 1.6em;
}
.menu li a:hover {
	color: maroon;
	cursor: pointer;
}
.menu li.selected {
	background: rgb(25, 88, 23);
}
.menu li.selected a {
	color: #fff;
}
