@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
.div {
	height: 100vh;
	background-color: #fcf6f5ff;
	backdrop-filter: grayscale(0.5) opacity(0.8);
	font-size: 13px;
	font-family: 'DM Sans', sans-serif;
}
