.header {

}



.div {
background-color: rgb(187, 187, 187);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
align-content: center;
cursor: not-allowed;
}

.container {
background-color: rgba(52, 52, 54, 0.986);
border: 2px solid rgba(227, 227, 255, 0.808);
box-shadow: 5px 5px 6px rgb(255, 253, 253);
border-radius: 5px;
max-width: 55vh;
cursor: auto;

}

.head{
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 0px;
   align-self: center;
    padding-left: 9vh;
    margin-bottom: 0px;
}
.hr{
    background-color: #fff;
    padding-top: 0px;
    margin-top: 0px;
    max-width: 73%;
    box-shadow: 2px 3px 4px 2px rgb(255, 253, 253);
}
.col{
    background: rgb(243, 241, 241);
    max-width: 30%;

}
.Group{
    padding: 5px;
}
.control{
    background-color: rgb(192, 192, 192);
}
.control:hover{
    background-color: #fff;
    cursor: pointer;
}
.button{
    background-color: rgb(226, 231, 235);
    color: rgb(68, 72, 75);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
   color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
}
