.header {
    background-color: rgb(37, 18, 105);
    text-align: center;
    text-shadow: 0.5;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: aliceblue;
    font: #fff;
}

.container {
    // flex-direction: column;
    // align-self: center;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}