.container {
	height: 100vh;
	background-color: rgb(112, 81, 81);
}
.row{
	padding-top: 25px;
	
}
.form{
	padding-left: 8px;

}
.formcard{
	background-color: rgb(163, 196, 224);
}
.formheader{
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	color: rgb(0, 19, 36);
	font-weight: bolder;
}
.label{
	color: rgb(0, 29, 29);
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.control{
	background-color: rgb(234, 255, 248);
	padding-top: 0px;
}
.control:hover{
	background-color: rgb(255, 255, 255);
	color: rgb(42, 42, 42);
	cursor: cell;

}
.card{
	padding-right: 5px;
}
.button{
	background-color: rgb(0, 47, 88);
	color: aliceblue;
	font-weight: bold;
}
.button:hover{
	background-color: aliceblue;
	color: rgb(0, 3, 49);
	font-weight: bold;
}

.dropItem{
	background-color: inherit;
	border: 0px;
}
.dropItem:hover{
	background-color: inherit;
	border: 0px;
}
.footer{
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
	justify-content: baseline;
	background-color: bisque;
	align-self: baseline;
}
.item{
	background-color: rgb(237, 239, 241);
}
.ite:hover{
	background-color: rgb(108, 135, 158);
	color: white;
}
.total{
	max-width: 35%;
	font-weight: bold;
	color: rgb(0, 21, 39);
}
.stock{
	color: rgb(243, 239, 239);
	background-color: rgb(92, 0, 38);
	font-weight: bold;
}
.stocks{
	float: right;
	color: rgb(0, 28, 53);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
	padding-top: 15px;
	cursor: pointer;
	font-weight: 600;

}
.stocks:hover{
	color: rgb(255, 255, 255);
}
.productsCard{
	background-color: rgb(163, 196, 224);
	padding-left: 1px;
	padding-left: 20px;

}
.stockExpenses{
	display: flex;
	align-items: center;
	justify-content: center;
}
.rowproduct{
	display: flex;
	justify-content: center;
	padding-top: 25px;
	
}
.back{
	float: left;
	color: rgb(0, 28, 53);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
	padding-top: 15px;
	cursor: pointer;
	font-weight: 600;

}