.div {
	height: 100vh;
	background-color: rgb(255, 239, 239);
}
.row {
	padding: 25px;
}
.card {
	background-color: rgb(122, 117, 97);
	color: white;
}
.cardhead {
	background-color: rgb(54, 49, 25);
	color: rgb(224, 224, 224);
}
.h {
	display: flex;
	justify-content: center;
	align-items: center;
}
.input {
	padding-top: 0;
}
.label {
	padding: 0px;
	margin: 0px;
}
.control {
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
}
.thead {
	color: aliceblue;
	font-size: 90%;
}
.text {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: white;
}
.edit {
	cursor: pointer;
}
.icon {
	background-color: rgb(184, 182, 171);
}
.icon:hover {
	background-color: antiquewhite;
}
.delete {
	background-color: rgb(184, 182, 171);
	pointer-events: stroke;
}
.reset {
	float: right;
	background-color: red;
	font-weight: bold;
}
.reset:hover {
	background-color: white;
	font-weight: bold;
	color: red;
}
.add:hover {
	background-color: rgb(80, 79, 79);
}
.update {
	background-color: rgb(95, 92, 92);
}
.update:hover {
	background-color: rgb(141, 139, 139);
}
