.container {
	height: 100%;
	background-color: rgb(255, 239, 239);
	max-height: 100%;
}
.rowForm {
	padding: 25px;
}
.card {
	background-color: rgb(122, 117, 97);
	color: white;
}
.h {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dropdown {
	background-color: inherit;
	border: 0px;
}
.dropdown:hover {
	background-color: inherit;
	border: 0px;
}
.dropdown:active {
	background-color: inherit;
	border: 0px;
}
.dropdown:checked {
	background-color: inherit;
	border: 0px;
}
.dropdownMenu {
	background-color: whitesmoke;
}
.dropdownMenu:hover {
	background-color: rgb(122, 117, 97);
	color: white;
}
.label {
	padding: 0px;
	margin: 0px;
}
.control {
	height: 70%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
