@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.div {
	height: 100vh;
	background-color: #fcf6f5ff;
	backdrop-filter: grayscale(0.5) opacity(0.8);
	font-size: 13px;
	font-family: 'DM Sans', sans-serif;
}
.row {
	padding: 20px;
	padding-left: 25px;
}
.card {
	background-color: #f2edd7ff;
	color: rgb(7, 44, 51);
}
.cardForm {
	background-color: #f2edd7ff;
	color: rgb(7, 44, 51);
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.listGroup {
	background-color: rgb(187, 183, 163);
	color: rgb(7, 44, 51);
}
.listheader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.listItem {
	background-color: #f2edd7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	cursor: pointer;
	transition: opacity 0.25s ease-out;
}
.listItem:hover {
	background-color: rgb(219, 219, 215);
	color: rgb(7, 44, 51);
	transition: opacity 0.25s ease-out;
}
.formgroup {
	padding-bottom: 7px;
	margin-bottom: 0;
}
.logingroup {
	padding-bottom: 13px;
	margin-bottom: 0;
}
.control {
	background-color: rgb(251, 248, 229);
	padding-bottom: 0cm;
	margin-bottom: 0;
	padding-top: 0;
}
.label {
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.postsales {
	background-color: rgb(133, 128, 110);
	color: white;
	float: right;
	border: 0;
}
.postsales:hover {
	background-color: rgb(75, 71, 53);
	color: white;
	float: right;
}
.email {
	padding-left: 5px;
	padding-right: 5px;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.link {
	color: rgb(7, 55, 97);
	text-decoration: underline;
	cursor: pointer;
	padding-left: 25px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.link:hover {
	color: rgb(44, 143, 230);
}
.footer {
	height: auto;
}
