.Table {
	transition: all 3s;
	color: rgb(45, 66, 66);
	text-align: center;
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	text-shadow: 2px #ffffff;
	box-shadow: 5px 5px 6px rgb(73, 31, 67);
	width: 30%;
	justify-content: center;
}

.Table:hover {
	transform: scale(-0.6);
	pointer-events: stroke;
	cursor: pointer;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 5px 5px 6px rgb(15, 4, 14);
	background-color: rgb(226, 243, 243);
	color: #ffffff;
	padding-top: 50px;
}

.Main {
	background-color: rgb(245, 245, 245);
	max-width: 100%;
	max-height: 100%;
}

.thead:hover {
	cursor: pointer;
	font-weight: bold;
	box-shadow: 5px 5px 6px rgb(73, 31, 67);
	background-color: rgb(81, 116, 149);
	color: #ffffff;
}

.card {
	background-color: rgb(69, 80, 80);
	color: #ffffff;
	box-shadow: 5px 5px 6px 8px rgb(148, 148, 148);
}

.btn-secondary {
	box-shadow: 5px 5px 6px rgb(65, 2, 18);
	color: rgb(3, 148, 124);
}

.btnSecondaryFloat {
	box-shadow: 5px 5px 6px rgb(65, 2, 18);
	color: rgb(230, 236, 235);
	float: right;
	transform: scale(1);
	background-color: rgb(62, 66, 70);
	transition: 2s;
	padding: 0;
	margin-bottom: 0;
	font-weight: bold;
	display: flex;
	width: 70px;

	height: 35px;
}

.text {
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
}
